
$lightBlue: #0282F9;
$grey: #4C4E4D;
$fontSmaller: 10px;
$fontSmall: 16px;
$bgGrey: #1C1C1C;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
}

main {
    background-color: $bgGrey;
}

.container {
    width: 80%;
    margin: auto;
}

button {
    background-color: $lightBlue;
    color: white;
    border: none;
    padding: 8px 30px;
}
.big-btn {
    font-size: 20px;
    font-weight: bold;
}
.small-btn {
    font-size: 14px;
}
