footer {
    background-image: url("../../../public/img/footer-bg.jpg");
    background-position: center;
    background-size: 110%;

    a {
        text-decoration: none;
    }
}
.footer {
    padding: 40px 0;
}
.comics-links {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 50%;
    padding: 40px 0;

    .list {
        width: 33.3%;
    }

    & h2 {
        color: white;
        font-weight: bold;
    }

    ul {
        list-style: none;

        & li a {
            color: $lighterGrey;
        }
    }
}

.social {
    background-color: $lightGrey;
    
    .container {
        display: flex;
        align-items: center;    
        padding: 10px 0;
    }

    .left {
        width: 20%;
    }
    .right {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        ul {
            display: flex;
            list-style-type: none;
            align-items: center;
            li {
                padding: 0 8px;
                &:first-child a {
                    color: $lightBlue;
                    font-weight: bold;
                    margin-right: 8px;
                }
            }
        }
    }
}